@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.slick-next,
.slick-prev {
  color: #316357 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #316357 !important;
}

.lucide {
  color: #266041;
  width: 18px;
  height: 18px;
  stroke-width: 1px;
}

.lucide.override-size {
  width: auto !important;
  height: auto !important;
  stroke-width: auto !important;
}
