@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'GreenWorld';
  src:
    url('https://green-world-stage.vercel.app/Allison.ttf') format('truetype'),
    url('https://green-world-stage.vercel.app/Allison-Regular.eot'),
    url('https://green-world-stage.vercel.app/Allison-Regular.woff')
      format('woff'),
    url('https://green-world-stage.vercel.app/Allison-Regular.woff2')
      format('woff2'),
    url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
  font-weight: normal;
  font-style: normal;
}
