@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'GreenWorld';
  src: url('Allison.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
